.flex-center {
    @apply flex flex-wrap items-center;
}

.wrapper {
    @apply container mx-auto px-4;
}

.smooth-transition {
    @apply transition-all duration-300 ease-in-out;
}

.fast-transition {
    @apply transition-all duration-150 ease-in-out;
}

.link {
    @apply fast-transition;
    @apply cursor-pointer text-black text-opacity-80;
    @apply hover:text-rb-carnelian-500;
}

.visible-link {
    @apply link;
    @apply text-red-500 font-semibold;
}

.button {
    @apply fast-transition;
    @apply rounded-full bg-rb-violet-500 text-white py-4 px-10 cursor-pointer;
    @apply hover:bg-rb-violet-600;
}

.fade-enter-active,
.fade-leave-active {
    @apply transition-opacity duration-150 ease-linear;
}
.fade-enter,
.fade-leave-to {
    @apply opacity-0;
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}
::-webkit-scrollbar-thumb {
    background: #a3a6c2;
    border-radius: 15px;
}
::-webkit-scrollbar-thumb:hover{
    background: #A3A6C2;
}
::-webkit-scrollbar-track{
    background: #ffffff;
    border-radius: 8px;
    box-shadow: inset 7px 10px 12px #f0f0f0;
}